* {
	padding: 0;
	margin: 0;
}


body {
	background-color: #868e96;
}



div {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	
	font-family: sans-serif;
	text-align: center;
}


h1 {
	color: #fff;

	padding-bottom: 30px;
}



li {
	position: relative;
	float: left;
	padding: 10px;

	list-style: none;
}



li > a {

	padding: 7px 15px 7px 15px;
	position: inline-block;

	text-decoration: none;

	border-radius: 4px;
	
	background-color: none;

	font-family: inherit;
	font-size: 15px;
}



#btn-primeiro {
	border: 2px solid rgb(255, 124, 124);
	color: rgb(255, 124, 124);
}
#btn-primeiro:hover {
	color: #fff;
	background-color: rgb(255, 124, 124);
}


#btn-segundo {
	border: 2px solid rgb(163, 255, 242);
	color: rgb(163, 255, 242);
}
#btn-segundo:hover {
	background-color: rgb(163, 255, 242);
	color: rgb(94, 94, 94);
	transition: 0.8s;
}


#btn-terceiro {
	border: 2px solid rgb(176, 255, 163);
	color: rgb(176, 255, 163);
}
#btn-terceiro:hover {
	background-color: rgb(176, 255, 163);
	color: rgb(94, 94, 94);
	box-shadow: 2px 2px 4px #000000;
}


#btn-quarto {
	opacity: 0.3;
	border: 2px solid rgb(247, 255, 163);
	color: rgb(247, 255, 163);
}
#btn-quarto:hover {
	opacity: 1;	
	transition: 0.55s;
}